*{
    font-family: "Roboto", serif;
  

}
.rightTask{
    background-image: url('./assets/61ad43b29966ecde672a66702909263e.png');
    background-repeat: no-repeat;
    background-size: cover;      /* Ensures the image covers the whole container */
    background-position: center; 
    height: 395px; /* Set the height of the container */
    width: 290px;
}

.Communitybg {
    position: relative; 
    background-image: url('./assets/commbg.png');
    background-size: cover;
    background-position: center;
}

.Communitybg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(217, 217, 217, 0.52); 
    z-index: -1; 
}
.condesed{
    font-family:"Roboto Condensed", serif;
 
}
.Taskcardbg{
    background: linear-gradient(250.31deg, #CDF0EF 1.85%, #768A8A 186.76%);

}

